<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet Hub</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<div class="fixed inset-0 z-50 flex items-center justify-center bg-black/50">
    <div class="w-full max-w-md rounded-lg bg-white p-6 shadow-lg min-h-[460px]">
        <div class="mb-6">
            <h2 class="text-2xl font-bold text-[#ff7b00]">새로운 관리자를 추가하세요!</h2>
        </div>
        <form class="space-y-4" action="/admin/insert" method="post" onsubmit="closePopup();">
            <div>
                <label for="userid" class="mb-2 block text-sm font-medium text-gray-700">
                    관리자 ID
                </label>
                <input
                        id="userid"
                        name="userid"
                        type="text"
                        class="block w-full rounded-md border-gray-300 bg-gray-100 p-2 text-sm text-gray-900 focus:border-orange-400 focus:ring-orange-400"
                        placeholder="관리자로 승격시킬 ID를 입력해주세요."
                />
            </div>
            <div class="flex justify-end">
                <button class="inline-flex items-center justify-center whitespace-nowrap text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-orange-500 text-primary-foreground hover:bg-orange-400/90 h-9 rounded-md px-3">
                    추가하기
                </button>
            </div>
        </form>
    </div>
</div>
<th:block th:if="${msg != null}">
    <script th:inline="javascript">

        let msg = [[${msg}]];
        alert(msg);
        // 부모 창 새로고침
        window.opener.location.reload();
        // 팝업 창 닫기
        window.close();

    </script>
</th:block>
</body>
</html>
