<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>name</th>
        <th>email</th>
        <th>phone</th>
        <th>address</th>
        <th>userid</th>
        <th>userpw</th>
        <th>nick</th>
        <th>profile</th>
    </tr>
    </thead>
    <tbody th:each="row : ${list}">
    <tr th:object="${row}">
        <th th:text="*{id}"></th>
        <th th:text="*{name}"></th>
        <th th:text="*{email}"></th>
        <th th:text="*{phone}"></th>
        <th th:text="*{address}"></th>
        <th th:text="*{userid}"></th>
        <th th:text="*{userpw}"></th>
        <th th:text="*{nick}"></th>
        <th><img th:src="@{*{profile}}" alt="profile" width="100" height="100"></th>
    </tr>
    </tbody>
</table>
</body>
</html>