<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상세 페이지</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<div class="min-h-screen flex flex-col bg-orange-50">
    <div th:replace="~{header :: header}"></div>

    <div th:each="product : ${product}">
        <div class="flex justify-center">
            <div class="bg-white rounded-lg shadow-md mt-3 p-6 w-3/4">
                <div class="flex justify-center">
                    <!-- 제품 이미지 -->
                    <div class="w-1/2 max-w-full max-h-64 mb-4 ">
                        <img th:src="${product.pic}" alt="제품 이미지" class="mb-4 max-w-full max-h-64">
                    </div>

                    <!-- 세로 점선 -->
                    <div class="w-px bg-gray-300 mx-4 my-6"></div>

                    <!-- 제품 이름 및 수량 결정 -->
                    <div class=" max-w-full max-h-64 mb-4 space-y-2 justify-end">
                        <div>
                            <h2 class="text-lg font-semibold mb-2">상품명:</h2>
                            <span class="text-gray-700" th:text="${product.name}"></span>
                        </div>
                        <div>
                            <h2 class="text-lg font-semibold mb-2">가격:</h2>
                            <span class="text-gray-700" th:text="${product.price}"></span>
                        </div>
                        <div>
                            <h2 class="text-lg font-semibold mb-2">물품 수량:</h2>
                            <input id="quantity" name="quantity" type="number" min="1" value="1" class="appearance-none border rounded-md w-20 h-9 px-3 text-sm text-center text-gray-900 focus:outline-none focus:ring-2 focus:ring-primary">
                        </div>

                        <div class="flex space-x-2 justify-end">
                            <form th:action="@{'/shop/DetailPage/' + ${product.id}}" method="POST" class="space-y-2">
                                <input type="hidden" name="productId" th:value="${product.id}" />
                                <input type="hidden" id="formQuantity" name="quantity" th:value="${1}" />

                                <button class="inline-flex items-center justify-center whitespace-nowrap text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-blue-400 text-destructive-foreground hover:bg-blue-300/90 h-9 rounded-md px-3 flex-grow w-32"
                                        type="submit">
                                    장바구니에 추가
                                </button>
                                <button class="inline-flex items-center justify-center whitespace-nowrap text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-red-400 text-destructive-foreground hover:bg-red-300/90 h-9 rounded-md px-3 flex-grow w-32"
                                        type="button" onclick="submitForm(this.getAttribute('data-product-id'))" th:attr="data-product-id=${product.id}">
                                    구매하기
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 제품 상세 이미지 or 텍스트 -->
        <div class="flex justify-center mt-8">
            <div class="bg-white rounded-lg shadow-md p-6 w-3/4">
                <h2 class="text-xl font-bold mb-4">제품 상세</h2>
                <div class="flex justify-center">
                    <div class="w-auto h-auto " th:utext="${product.detail}"></div>
                </div>
            </div>
        </div>

        <div class="flex justify-center mb-10">
            <div class="mt-8 bg-white rounded-lg shadow-md p-6 w-3/4" th:if="${review != null && !review.isEmpty()}">
                <h3 class="text-xl font-bold mb-4">상품 후기</h3>
                <div class="grid gap-4">
                    <div class="bg-gray-100 p-4 rounded-md" th:each="review : ${review}">
                        <div class="flex items-center justify-between">

                            <!-- 리뷰 내용 -->
                            <div class="w-1/3">
                                <div class="w-40" th:if="${review.contents}" th:utext="${review.contents}"></div>
                            </div>

                            <!-- 리뷰 작성 날짜 및 상세 정보 -->
                            <div class="w-1/3 flex flex-col items-center">
                                <div class="flex items-center gap-2 mb-2">
                                    <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            width="24"
                                            height="24"
                                            viewBox="0 0 24 24"
                                            fill="none"
                                            stroke="currentColor"
                                            stroke-width="2"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            class="w-4 h-4"
                                    >
                                        <path d="M8 2v4"></path>
                                        <path d="M16 2v4"></path>
                                        <rect width="18" height="18" x="3" y="4" rx="2"></rect>
                                        <path d="M3 10h18"></path>
                                    </svg>
                                    <span th:text="${#dates.format(review.w_date, 'yyyy년 M월 d일 HH시 mm분')}"></span>
                                </div>
                                <div class="flex items-center gap-2">
                                    <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            width="24"
                                            height="24"
                                            viewBox="0 0 24 24"
                                            fill="none"
                                            stroke="currentColor"
                                            stroke-width="2"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            class="w-4 h-4"
                                    >
                                        <circle cx="9" cy="21" r="1"></circle>
                                        <circle cx="20" cy="21" r="1"></circle>
                                        <path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path>
                                    </svg>

                                    <span th:text="${review.item}">상품명</span>
                                </div>
                                <div class="flex items-center gap-2 text-lg mt-10"> <!-- text-lg 클래스 추가 -->
                                    <span th:text="${review.nick} + '님 '">닉네임</span>
                                    <span th:text="'평점 : ' + ${review.rating} + '/5'">평점</span>
                                </div>
                            </div>

                            <!-- 삭제 버튼 -->
                            <div class="w-1/3 flex justify-end">
                                <div class="min-w-max">
                                    <div th:if="${session.user != null}">
                                        <div th:if="${review.member_id == session.user.getId()}">
                                            <form th:action="@{/shop/deleteReview/{id}(id=${review.id})}" method="post">
                                                <input type="hidden" name="item_id" th:value="${product.id}" />
                                                <button type="submit" class="deleteReviewBtn inline-flex items-center justify-center whitespace-nowrap text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-red-400 text-destructive-foreground hover:bg-red-300/90 h-9 rounded-md px-3 mt-11">
                                                    <svg
                                                            xmlns="http://www.w3.org/2000/svg"
                                                            width="24"
                                                            height="24"
                                                            viewBox="0 0 24 24"
                                                            fill="none"
                                                            stroke="currentColor"
                                                            stroke-width="2"
                                                            stroke-linecap="round"
                                                            stroke-linejoin="round"
                                                            class="w-4 h-4"
                                                    >
                                                        <path d="M3 6h18"></path>
                                                        <path d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6"></path>
                                                        <path d="M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2"></path>
                                                    </svg>
                                                    <span>삭제</span>
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                    <div th:if="${session.user == null || review.member_id != session.user.getId()}" class="h-9"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{footer :: footer}"></div>

<script>
    // 폼 제출 전에 숨겨진 입력 필드의 값을 업데이트합니다
    document.querySelector('form').addEventListener('submit', function() {
        var quantity = document.getElementById('quantity').value;
        document.getElementById('formQuantity').value = quantity;
    });

    function submitForm(productId) {
        var form = document.createElement('form');
        form.method = 'POST';
        form.action = '/shop/onebuy/' + productId;
        var hiddenInput = document.createElement('input');
        hiddenInput.type = 'hidden';
        hiddenInput.name = 'quantity';
        hiddenInput.value = document.getElementById('quantity').value;
        form.appendChild(hiddenInput);
        document.body.appendChild(form);
        form.submit();
    }
</script>

</body>
</html>
